<div class="container">
    <h3>Reactive forms</h3>
    <app-reactive></app-reactive>
</div>
<div class = 'container' *ngIf = false>
    <h3>template driven form</h3>
  <form #loginForm = 'ngForm' (ngSubmit)="login(loginForm.value)" >
      <div class="form-group">
          <label for="exampleInputEmail1">User Name</label>
          <em  *ngIf = 'loginForm.controls.username?.invalid && loginForm.controls.username?.touched' class = 'float-right'>Required</em>
          <input type="text" required  (ngModel) = 'username' name = 'username' class="form-control"  placeholder="username">
      </div>
      <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <em *ngIf='loginForm.controls.password?.invalid && loginForm.controls.password?.touched' class='float-right'>Required</em>
          <input type="password" required (ngModel)='password' name = 'password' class= "form-control" placeholder="Password">
      </div>

      <button type="submit" [disabled]='loginForm.invalid' class="btn btn-primary">Login</button>
      <button type="button" class="btn btn-primary">Cancel</button>
      <div class="row">
      
          <div class="col-xs-3 ">
              <div> loginForm.valid: </div>
              <div> loginForm.invalid : </div>
              <div> loginForm.dirty : </div>
              <div> loginForm.pristine : </div>
              <div> loginForm.submitted: </div>
              <div> loginForm.touched: </div>
              <div> loginForm.untouched: </div>
          </div>
          <div class="col-xs-4">
              <div>{{ loginForm.valid }}</div>
              <div>{{loginForm.invalid}}</div>
              <div>{{loginForm.dirty}}</div>
              <div>{{loginForm.pristine}}</div>
              <div>{{loginForm.submitted}}</div>
              <div>{{loginForm.touched}}</div>
              <div>{{loginForm.untouched}}</div>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-5">
              <div>userName?.valid:</div>
              <div>userName?.invalid:</div>
              <div>userName?.dirty:</div>
              <div>userName?.pristine:</div>
              <div>userName?.submitted:</div>
              <div>userName?.touched:</div>
              <div>userName?.untouched:</div>
          </div>
          <div class="col-xs-2">
              <div>{{loginForm.controls.username?.valid}}</div>
              <div>{{loginForm.controls.username?.invalid}}</div>
              <div>{{loginForm.controls.username?.dirty}}</div>
              <div>{{loginForm.controls.username?.pristine}}</div>
              <div>{{loginForm.controls.username?.submitted}}</div>
              <div>{{loginForm.controls.username?.touched}}</div>
              <div>{{loginForm.controls.username?.untouched}}</div>
              
          </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
            <div>Password?.valid:</div>
            <div>Password?.invalid:</div>
            <div>Password?.dirty:</div>
            <div>Password?.pristine:</div>
            <div>Password?.submitted:</div>
            <div>Password?.touched:</div>
            <div>Password?.untouched:</div>
        </div>
        <div class="col-xs-2">
            <div>{{loginForm.controls.password?.valid}}</div>
            <div>{{loginForm.controls.password?.invalid}}</div>
            <div>{{loginForm.controls.password?.dirty}}</div>
            <div>{{loginForm.controls.password?.pristine}}</div>
            <div>{{loginForm.controls.password?.submitted}}</div>
            <div>{{loginForm.controls.password?.touched}}</div>
            <div>{{loginForm.controls.password?.untouched}}</div>
            
        </div>
    </div>
    
  </form>
</div>
