<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 [style.color] = 'color'>
    Welcome to {{ title }}!
  </h1>
  <img [src]='srcPath' alt="">
  <img src={{srcPath}} alt="">
  <button (click) = 'toggle()'>changeColor</button>
  <select (change) = 'changeColor($event.target.value)'>
    <option>red</option>
    <option>steelblue</option>
  </select>
  <hr [style.width] = 'width'>
  <input type="text" [value] = 'information' (keyup) = 'update($event.target.value)' >
  <p>{{information}}</p>
  <input type="text" (keyup.enter) = 'update($event.target.value)' >
  <br>
  <input type="text" (blur) = 'update($event.target.value)' >
  <input type="text" #data (keyup) = 'information = data.value'>
</div>
